@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/500.css';
@import '@fontsource/dm-sans/700.css'; */



@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    @apply font-dm-sans bg-secondary dark:bg-background-dark text-navy-dark dark:text-white;
    
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-600 rounded-full;
  }
}

@layer components {
  .card {
    @apply bg-white dark:bg-navy p-6 rounded-[20px] shadow-md;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-brand-500 to-primary-light bg-clip-text text-transparent;
  }
}


  /* For custom scrollbar in the modal body if needed */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Track background */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #9ca3af; /* Scrollbar thumb color (gray-400) */
    border-radius: 3px; /* Rounded corners for the thumb */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Scrollbar thumb color on hover (gray-500) */
  }
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent; /* thumb and track color */
  }